body {
  background-color: rgb(54, 54, 54);
  color: white;
  margin: 20px;
}

button {
  background-color: rgb(0, 132, 255);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input,
textarea {
  color: rgb(54, 54, 54);
  font-size: 16px;
}

input:focus,
textarea:focus,
button:focus {
  outline-style: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 0;
}

a {
  color: white;
  font-size: 20px;
}

a:hover {
  transform: scale(0.5);
}
